/* roboto-300 - cyrillic_latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Roboto";
  font-style: normal;
  font-weight: 300;
  src: url("../fonts/roboto-v30-cyrillic_latin-300.woff2") format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* roboto-regular - cyrillic_latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/roboto-v30-cyrillic_latin-regular.woff2") format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* roboto-500 - cyrillic_latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  src: url("../fonts/roboto-v30-cyrillic_latin-500.woff2") format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* roboto-700 - cyrillic_latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/roboto-v30-cyrillic_latin-700.woff2") format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* play-regular - cyrillic_latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Play";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/play-v17-cyrillic_latin-regular.woff2") format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* play-700 - cyrillic_latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Play";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/play-v17-cyrillic_latin-700.woff2") format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
:root {
  --color-primary-dark: #000000;
  --color-primary-light: #ffffff;
  --color-primary-grey: #747272;
  --color-brand-light: #2b7fff;
  --color-brand-dark: #011c44;
}
.container {
  max-width: 1440px;
  width: 1440px;
  margin: 0 0 0 0;
  padding: 0 24px;
  align-items: center;
}
.button {
  padding: 16px 32px;
  color: var(--color-primary-light);
  font-weight: 600px;
  background-color: var(--color-brand-light);
  border: 2px solid var(--color-brand-light);
  border-radius: 16px;
  cursor: pointer;
}

.header-container {
  position: absolute;
  display: flex;
  max-width: 1239px;
  height: 42px;
  top: 32px;
  left: 100px;
  gap: 240px;
  width: 100%;
  text-align: center;
  padding: 30px 30px 30px 30px;

}
.logo-section {
  color: var(--color-brand-light);
  text-align: center;
  font-family: "Play";
  font-style: normal;
  font-weight: 700;
  font-size: 22px;
  line-height: 21px;
  width: 74px;
  height: 42px;
  margin: 0;
}

.header-menu {
  color: transparent;
  gap: 56px;
  display: flex;
  margin: 0;
  padding: 0;
  max-width: 528px;
  
}
.link1 { 
  color: var(--color-brand-light);
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  text-decoration: none;
} 

.header-contact {
  display: flex;
  color: var(--color-brand-dark);
  width: 160px;
  height: 32px;
  gap: 32px;
  align-content: space-between;
}

/* .header-nav {
  max-width: 1440px;
  width: 100%;
  display: flex;
} */

.upper-text {
  color: var(--color-brand-dark);
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  /* margin-bottom: 100px; */
}

.part-1 {
  width: 1501px;
  height: 686px;
  border: 1px solid black;
  margin: 0;
  padding: 0 0;
  background-image:
  url('../images/fon.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  /* max-width: 1440px; */
  background-position: right top;
}
.part-1-cont {
  position: relative;
  display: block;
  width: 529px;
  height: 480px;
  left: 206px;
  top:110px;
  border: 1px solid black;
}

.main-title {
  color: var(--color-brand-light);
  font-family: "Play";
  font-style: normal;
  font-weight: 700;
  font-size: 140px;
  line-height: 140px;
  margin-top: 90px;
  margin-bottom: 5px;
  margin-top: 5px;
}

.lower-text {
  color: var(--color-primary-dark);
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 18px;
}

.container-part-2 {
  width: 1240px;
  height: 695px;
  border: 1px solid black;
  display: flex;
  justify-content: space-between;
}
.part-2 {
  width: 709px;
  height: 495px;
  border: 1px solid black;
  margin-top: 70px;

}
.text-part-2 {
  margin: 20px;
}
.part2-photo {
  width: 499px;
  height: 695px;
  border: 1px solid black;
  display: block;
  /* border-radius: 164px 164px 164px 164px; */
  
}
.photo-w1 {
  width: 328px;
  height: 328px;
  border: 1px solid black;
  border-radius: 164px 164px 164px 164px;
}
.photo-w2 {
  width: 328px;
  height: 328px;
  border: 1px solid black;
  border-radius: 164px 164px 164px 164px;
  position: right;
}
.part-title-2 {
  color: var(--color-brand-light);
  font-family: "Play";
  font-style: normal;
  font-weight: 700;
  font-size: 64px;
  line-height: 64px;
  /* margin-bottom: 100px; */
  /* padding-top: -10px; */
  /* gap: 40px; */
}
.text-part-2 {
  color: var(--color-brand-dark);
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 22px;
  line-height: 33px;
  margin-bottom: 70px;
}
.container-part-3 {
  width: 1060px;
  height: 377px;
  border: 1px solid black;
  display: block;
  /* align-items: center; */
}
.part-3-cont {
  display: flex;
  gap: 48px;
  margin-top: 10px;
}
.part-title-3 {
  text-align: center;
  color: var(--color-brand-light);
  font-family: "Play";
  font-style: normal;
  font-weight: 700;
  font-size: 64px;
  line-height: 74px;
  margin-top: 1px;
  margin-bottom: 40px;
}

.part31-cont {
  width: 316px;
  height: 181px;
  text-align: center;
  background-color: transparent;
  justify-content: center;
  border: 1px solid black; 
  border-radius: 32px;
  color: var(--color-primary-dark);
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 24px;
}

.part32-cont {
  display: block;
  width: 316px;
  height: 181px;
  background-color: transparent;
  text-align: center;
  border: 1px solid black; 
  border-radius: 32px;
  color: var(--color-primary-dark);
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 24px;
}
.part33-cont {
  width: 316px;
  height: 181px;
  background-color: transparent;
  text-align: center;
  border: 1px solid black; 
   border-radius: 32px;
  justify-content: center;
  color: var(--color-primary-dark);
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 24px;
}
.container-part-4 {
  width: 1216px;
  height: 621px;
  border: 1px solid black;
 padding-bottom: 30px;
  /* margin: auto; */
  text-align: center;
}
.part-4-cont { 
  background-color: transparent;
  height: 1216px;
  height: 499px;
  display: flex;
  padding-bottom: 10px;
  justify-content: center;
} 
.part-title-4 {
  color: var(--color-brand-light);
  font-family: "Play";
  font-style: normal;
  font-weight: 700;
  font-size: 64px;
  line-height: 74px;
  margin-top: 20px;
  margin-bottom: 20px;
 
}
.part41-cont {
  width: 344px;
  height: 456px;
  border: 1px solid black;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 22px;
  line-height: 26px;
  border-radius: 4px 120px 4px 120px;
  /* background-image:
  url('../images/maska.jpg');
  background-repeat: no-repeat;
  background-size: cover; */
}
.part42-cont {
  width: 344px;
  height: 456px;
  border: 1px solid black;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 22px;
  line-height: 26px;
  border-radius: 4px 120px 4px 120px;
  /* background-image:
  url('../images/inject.jpg');
  background-repeat: no-repeat;
  background-size: cover; */

}
.part43-cont {
  width: 344px;
  height: 456px;
  border: 1px solid black;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 22px;
  line-height: 26px;
  border-radius: 4px 120px 4px 120px; 
  background-image: 
  url('../images/clean.jpg');
  background-repeat: no-repeat;
  background-size: cover;
}
.photo-n1 {
  border-radius: 4px 120px 4px 120px;
}


.container-part-5 {
  color: var(--color-brand-light);
  width: 1059px;
  height: 602px;
  border: 1px solid black;  
}
.part-5-cont {
  display: flex;
  width: 1059px;
  height: 479px;
  border: 1px solid black;
}

.part-title-5 {
  width: 432px;
  height: 75px;
  color: var(--color-brand-light);
  font-family: "Play";
  font-style: normal;
  font-weight: 700;
  font-size: 64px;
  line-height: 74px;
  margin: 15px;
  justify-content: space-around;
}
.upper-title5 {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 600;
  font-size: 22px;
  line-height: 26px;
  text-align: center;
}
.lover-title5 {
  color: var(--color-primary-grey);
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
}

.link { 
  color: var(--color-brand-light);
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
} 
.address_link {
  color: var(--color-primary-light);
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
}
.address_copyright {
  color: var(--color-primary-grey);
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
}
.accent {
  color: var(--color-brand-dark);
}
.footer-down {
  display: flex;
  width: 1440px;
  height: 278px;
  background-color: var(--color-brand-dark);
  justify-content: space-around;

    margin-left: 20px;
    margin-right: 20px;
}
.footer-item {
  width: 203px;
  height: 124px;
}
.footer-contact {
    display: flex;
    color: var(--color-primary-light);
    width: 174px;
    height: 42px;
    gap: 32px;
    align-items: center;
  }

.footrt-adress {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 19px;
  color: var(--color-primary-light);
}

.address {
  display: block;
}
 
.adress_link {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 19px;
}
.footer-end {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 19px;
  color: var(--color-primary-light);
}